* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

.header-div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightcoral;
    height: 10%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.visible {
    display: block;
}

.content-div {
    position: relative;
    top: 0;
    margin-top: 18%;
    padding: 5%;
    height: 100%;
    background-color: royalblue;
}

#page-1 {
    height: 100%;
}

#page-1 .content-div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min-content, 165px));
    grid-template-rows: repeat(auto-fill, minmax(0, 25%));
    gap: 2%;
    justify-content: center;
}

#page-2 {
    height: 100%;
}

#page-2 .content-div {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 3rem;
    padding: 10%;
}

#page-2 .content-div p {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1rem;
    background-color: rgba(255, 255, 255, .5);
}

.card-div {
    display: grid;
    background-color: rgba(255, 255, 255, .4);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-height: max-content;
    align-items: start;
    text-align: center;
    padding: 5%;
}

.card-title {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 1px;
    margin-bottom: 1rem;
    min-height: min-content;
}

.card-subject {
    min-height: min-content;
}

.card-content {
    min-height: min-content;
    padding: 2%;
}

.nav-bar-div {
    height: 10%;
    width: 100%;
    background-color: blueviolet;
    position: fixed;
    top: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.page-button {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    border: none;
    opacity: .7;
    background-color: black;
}

.page-button-not-clicked {
    background-color: white;
}

.hidden {
    display: none;
}