* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

.header-div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightcoral;
    height: 10%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.content-div {
    position: relative;
    top: 0;
    margin-top: 18%;
    padding: 5%;
    height: 100%;
    background-color: royalblue;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min-content, 165px));
    grid-template-rows: repeat(auto-fill, minmax(0, 25%));
    gap: 2%;
    justify-content: center;
}

.card-div {
    display: grid;
    background-color: rgba(255, 255, 255, .4);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-height: max-content;
    align-items: start;
    text-align: center;
    padding: 5%;
}

.card-title {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 1px;
    margin-bottom: 1rem;
    min-height: min-content;
}

.card-subject {
    min-height: min-content;
}

.card-content {
    min-height: min-content;
    padding: 2%;
}